{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<section class="section" aria-describedby="principi" id="principi">
  <div class="section-content">
      <div class="container">
          <div class="row">
              <div class="col-12 col-lg-8 mx-auto offset-lg-1">
                  <div class="steppers-content" aria-live="polite">
                      <div class="it-page-sections-container">
                          <section class="it-page-section" id="applicant">
                              <div class="cmp-card">
                                  <div class="card has-bkg-grey shadow-sm p-big">
                                      <div class="card-header border-0 p-0 mb-lg-30 m-0">
                                          <div class="d-flex">
                                              <h1 class="title-xxlarge mb-3">Accedi</h1>
                                          </div>
                                      </div>
                                      <div class="card-body p-0">
                                          <div class="form-wrapper bg-white p-4">
                                              <form method="post">
                                                  {% if error %}
                                                      <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                                  {% endif %}

                                                  <div class="form-group cmp-input mb-0">
                                                      <label for="inputEmail">Email</label>
                                                      <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                                                  </div>

                                                  <div class="form-group cmp-input mb-0">
                                                      <label for="inputPassword">Password</label>
                                                      <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                                                  </div>

                                                  {#<div class="form-group cmp-input mb-0">
                                                        <label>
                                                            <input type="checkbox" name="_remember_me"> Ricordami
                                                        </label>

                                                  </div>#}

                                                  <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                                  <div class="form-group cmp-input mb-0">
                                                    <button class="btn btn-lg btn-primary" type="submit">
                                                      Accedi
                                                    </button>
                                                  </div>

                                              </form>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </section>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</section>


{% endblock %}
