/* label.required {
	border: 2px solid red;
} */


/* .h1, h1{
  color: red;
} */
:root {
  --baco-accent-color: #7c4dff;
}

body {
	font-family: 'Lato', sans-serif;
	color: #191919;
	background-color: #f0edf6 !important;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
	font-family: 'Josefin Sans';

}

.btn-primary {
	color: #fff;
	background-color: var(--baco-accent-color);
	border-color: var(--baco-accent-color);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
}

.card .card-body .card-text {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.chip .chip-label, .cmp-breadcrumbs .breadcrumb-container .breadcrumb .breadcrumb-item a, .accordion-button {
	color: var(--baco-accent-color);
}

.chip:not(.chip-disabled) {
	border-color:  var(--baco-accent-color)	;
}

.it-header-slim-wrapper {
	background:  var(--baco-accent-color);
}


.it-header-slim-wrapper .it-header-slim-wrapper-content .it-header-slim-right-zone button, .it-header-slim-wrapper .it-header-slim-wrapper-content .it-header-slim-right-zone .it-access-top-wrapper > a, .it-header-slim-wrapper .it-header-slim-wrapper-content .header-slim-right-zone button, .it-header-slim-wrapper .it-header-slim-wrapper-content .header-slim-right-zone .it-access-top-wrapper > a {
	background: #643dd1;
	padding-top: 7.5px;
	padding-bottom: 7.5px;
}


.card-grid-2 {
	border-radius: 8px;
	border: 1px solid #E0E6F7;
	overflow: hidden;
	margin-bottom: 24px;
	position: relative;
	background: #F8FAFF;
}

.card-block-info {
	display: inline-block;
	width: 100%;
	padding: 5px 10px 20px 10px;
}

.card-grid-2-image-left {
	padding: 30px 20px 15px 20px;
	display: flex;
	position: relative;
}

.card-grid-2-image-rd {
	padding: 0px 15px 0px 0px;
	display: inline-block;
	width: 30%;
	min-width: 115px;
	max-width: 115px;
}

 .card-block-info {
	padding: 0px 20px 30px 20px;
	position: relative;
}

.rounded-icon {
	width: 1.5em;
	height: 1.5em;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
}
