/* label.required {
	border: 2px solid red;
} */


/* .h1, h1{
  color: red;
} */
:root {
  --baco-accent-color: #7c4dff;
  /* --primary: #003638;
  --secondary: #f49d7c; */
  --bs-primary-rgb: #2C5944;
  --bs-secondary-rgb: #f49d7c;
  --bs-primary: #2C5944 ;
  --bs-secondary: #D98673;
  --bg-secondary-light: #fff1ee;
  --bg-secondary-dark:  #8C6C5A;
  --bs-link-hover-color: #008055;
  --bg-gray:  #AABFB5;
  --bs-light: #F2F2F2;
}



body {
	font-family: 'Lato', sans-serif;
	color: #191919;
	background-color: var(--bg-secondary-light) !important;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
	font-family: 'Poppins', sans-serif;

}

input, button, select, optgroup, textarea {
  font-family: 'Poppins', sans-serif;
}

a, a.read-more {
	color: var(--bs-primary);
	text-decoration: underline;
}

a:hover {
	color: var(--bs-link-hover-color);
}

.navbar-brand .logo{
  max-width: 75px;
}
.primary-color {
	color: var(--bs-primary) !important;
}

.secondary-color {
	color: var(--bs-secondary) !important;
}

.btn-secondary {
	color: #fff;
	background-color: var(--bs-secondary);
	border-color: var(--bs-secondary);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
}


.btn-primary {
	color: #fff;
	background-color: var(--bs-primary);
	border-color: var(--bs-primary);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
}

.btn-primary:hover {
	background-color: #008055;
	color: #fff;
	border-color: #008055;
}


.btn-outline-primary {
	box-shadow: inset 0 0 0 2px var(--bs-primary);
  color: var(--bs-primary);
}

.btn-outline-primary:hover {
	color: var(--bs-primary);
	box-shadow: inset 0 0 0 2px var(--bs-primary);
}




.btn-outline-secondary {
	box-shadow: inset 0 0 0 2px var(--bs-secondary);
  color: #fff;
  background: transparent !important;
}

.bg-primary {
	--bs-bg-opacity: 1;
	background-color: var(--bs-primary) !important;
}

.bg-secondary-light{
  background-color: var(--bg-secondary-light) !important;
}

.bg-light {
	--bs-bg-opacity: 1;
	background-color: var(--bs-light) !important;
}


.it-header-slim-wrapper .it-header-slim-wrapper-content a.navbar-brand {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.card .card-body .card-text {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.cmp-breadcrumbs .breadcrumb-container .breadcrumb .breadcrumb-item a, .accordion-button {
	color: var(  --bs-primary);
}

.chip:not(.chip-disabled), .chip .chip-label,  {
	border-color:  var(  --bs-secondary)	;
}

.it-header-slim-wrapper {
	background:  var(--bs-primary);
}


.it-header-slim-wrapper .it-header-slim-wrapper-content .it-header-slim-right-zone button, .it-header-slim-wrapper .it-header-slim-wrapper-content .it-header-slim-right-zone .it-access-top-wrapper > a, .it-header-slim-wrapper .it-header-slim-wrapper-content .header-slim-right-zone button, .it-header-slim-wrapper .it-header-slim-wrapper-content .header-slim-right-zone .it-access-top-wrapper > a {
	background: var(--bs-secondary);
	padding-top: 7.5px;
	padding-bottom: 7.5px;
}

.it-header-slim-wrapper .it-header-slim-wrapper-content .it-header-slim-right-zone button:hover, .it-header-slim-wrapper .it-header-slim-wrapper-content .it-header-slim-right-zone .it-access-top-wrapper > a:hover, .it-header-slim-wrapper .it-header-slim-wrapper-content .header-slim-right-zone button:hover, .it-header-slim-wrapper .it-header-slim-wrapper-content .header-slim-right-zone .it-access-top-wrapper > a:hover {
	background: #008055;
}

.navbar.it-navscroll-wrapper .link-list-wrapper ul li a.active span, .link-list-wrapper ul li a span {
	color:  var(--bs-primary);
	text-decoration: none;
}

.card-grid-2 {
	border-radius: 8px;
	border: 1px solid #E0E6F7;
	overflow: hidden;
	margin-bottom: 24px;
	position: relative;
	background: #F8FAFF;
}

.card-block-info {
	display: inline-block;
	width: 100%;
	padding: 5px 10px 20px 10px;
}

.card-grid-2-image-left {
	padding: 30px 20px 15px 20px;
	display: flex;
	position: relative;
}

.card-grid-2-image-rd {
	padding: 0px 15px 0px 0px;
	display: inline-block;
	width: 30%;
	min-width: 115px;
	max-width: 115px;
}

 .card-block-info {
	padding: 0px 20px 30px 20px;
	position: relative;
}

.rounded-icon {
	width: 1.5em;
	height: 1.5em;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
}

#registration_form_competenzeBisRel {
  height: 10rem;
}
.select-wrapper select option {
	font-size: 1rem;
	/* border-bottom: 1px solid #eaeaea; */
}

.avatar img {
	width: 128px;
	height: 128px;
}

/* Stile per l'anteprima delle immagini caricate */
.image-preview {
    margin-top: 20px;
}

.uploaded-image {
    max-width: 100px;
    max-height: 100px;
    margin: 10px;
}

.form-control {
  padding: 0.675rem .75rem;
}
/*
.upload[type="file"]  {
	max-width: 80%;
	font-size: .889rem;
	font-weight: 700;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	padding: 7px 24px;
	border-radius: 4px;
	color: #fff;
	background-color: #06c;
	transition: background-color .15s;
}*/

/* input check */
/*
.form-check input:checked {
  background-color: #06c;
  border-color: #06c;
}
.form-check input[type="checkbox"] {
  border-radius: .25em;
}
.form-check input {
  float: left;
  margin-left: -1.5em;
}
.form-check input {
  width: 1em;
  height: 1em;
  margin-top: .25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0,0,0,.25);
    border-top-color: rgba(0, 0, 0, 0.25);
    border-right-color: rgba(0, 0, 0, 0.25);
    border-bottom-color: rgba(0, 0, 0, 0.25);
    border-left-color: rgba(0, 0, 0, 0.25);
  appearance: none;
  print-color-adjust: exact;
}

.form-check label + input[type="checkbox"], .form-check label + input[type="radio"] {
  position: relative;
  padding-left: 36px;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  font-size: 1rem;
  user-select: none;
  margin-bottom: .5rem;
}
.form-check  label::after, .form-check  label::before {
  content: "";
  left: 0;
  position: absolute;
  transition: .2s ease-out;
  z-index: 1;
  border-style: solid;
  border-width: 2px;
}

.form-check label::before {
  top: 0;
  width: 17px;
  height: 17px;
  border: 1px solid #e6e9f2;
    border-top-color: rgb(230, 233, 242);
    border-right-color: rgb(230, 233, 242);
    border-bottom-color: rgb(230, 233, 242);
    border-left-color: rgb(230, 233, 242);
  border-radius: 1px;
  margin: 2px 5px;
  transform: rotateZ(37deg);
  transform-origin: 100% 100%;
} */

/* home */
.it-hero-wrapper {
	background-color: var(--bs-primary);
}

.it-hero-wrapper .it-hero-text-wrapper p {
font-family: inherit;
}

@media(min-width:992px) {

  .it-hero-wrapper.it-text-centered .it-hero-text-wrapper {
  	padding: 40px 20% 144px 20%;
  }

}
