{% extends 'base.html.twig' %}

{% block title %}New CompetenzeBis{% endblock %}

{% block body %}
    <h1>Create new CompetenzeBis</h1>

    {{ include('competenze_bis/_form.html.twig') }}

    <a href="{{ path('app_competenze_bis_index') }}">back to list</a>
{% endblock %}
