{% extends 'base.html.twig' %}

{% block title %}FAQ - Comuni Italiani{% endblock %}

{% block body %}





<section class="section bg-light">
  <div class="section-content">
    <div class="container">

      <div class="row">
        <div class="col-8 mx-auto">
          <h1 class="title-xxlarge primary-color">
          Domande frequenti su BaCo</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
      </div>
      </div>
      </div>
  </section>


  <section class="section">
    <div class="section-content">
      <div class="container">

  <div class="accordion" id="">

    <div class="accordion-item">
      <h2 class="accordion-header" id="heading1c">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1c" aria-expanded="true" aria-controls="collapse1c">
          1. Cos'è BaCo e come funziona?
        </button>
      </h2>
      <div id="collapse1c" class="accordion-collapse collapse show" role="region" aria-labelledby="heading1c">
        <div class="accordion-body">
          BaCo è una piattaforma online dedicata allo scambio di conoscenze. Attraverso BaCo, puoi condividere le tue esperienze, porre domande, rispondere ad altre domande e partecipare attivamente.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading2c">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2c" aria-expanded="false" aria-controls="collapse2c">
          2. Posso condividere i miei progetti su BaCo?
        </button>
      </h2>
      <div id="collapse2c" class="accordion-collapse collapse" role="region" aria-labelledby="heading2c">
        <div class="accordion-body">
          Certamente! BaCo ti consente di condividere i tuoi progetti con una community di appassionati. Puoi caricare immagini, relativo alle tue conoscenze.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading3c">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3c" aria-expanded="false" aria-controls="collapse3c">
          3. Quale categorie sono incluse su BaCo?
        </button>
      </h2>
      <div id="collapse3c" class="accordion-collapse collapse" role="region" aria-labelledby="heading3c">
        <div class="accordion-body">
          BaCo copre una vasta gamma di argomenti di fai da te, istruzione, tecnologia per permetterti di barattare i tuoi saperi e la tua passione con altri membri della BaCo Community.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading4c">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4c" aria-expanded="false" aria-controls="collapse4c">
          4. Come posso iniziare su BaCo?
        </button>
      </h2>
      <div id="collapse4c" class="accordion-collapse collapse" role="region" aria-labelledby="heading4c">
        <div class="accordion-body">
          Per iniziare su BaCo, visita il nostro sito web e crea un account gratuito. Una volta registrato, potrai esplorare le discussioni, condividere i tuoi progetti e partecipare agli scambi. Ricorda di rispettare le regole della community e di condividere con sincerità e passione.
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}
