{% extends 'base.html.twig' %}

{% block title %}FAQ - Comuni Italiani{% endblock %}

{% block body %}





<section class="section bg-light">
  <div class="section-content">
    <div class="container">

      <div class="row">
        <div class="col-8 mx-auto">
          <h1 class="title-xxlarge primary-color">
          Domande frequenti su BaCo</h1>
          <p class="lead">Esplora i dubbi più comuni sullo scambio di conoscenze e sulla nostra community.</p>
          </div>
      </div>
      </div>
      </div>
  </section>


  <section class="section">
    <div class="section-content">
      <div class="container">

  <div class="accordion" id="">

    <div class="accordion-item">
      <h2 class="accordion-header" id="heading1c">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1c" aria-expanded="true" aria-controls="collapse1c">
          1. Cos'è BaCo e come funziona?
        </button>
      </h2>
      <div id="collapse1c" class="accordion-collapse collapse show" role="region" aria-labelledby="heading1c">
        <div class="accordion-body">
BaCo è una piattaforma online dedicata alla condivisione e allo scambio di conoscenze e competenze tra individui. Il nome "BaCo" è l'abbreviazione di "Banca delle Competenze", che rappresenta il cuore del nostro progetto. Su BaCo, gli utenti possono registrarsi e creare profili completi in cui elencano le loro competenze e conoscenze. La piattaforma consente agli utenti di cercare, visualizzare e richiedere competenze specifiche da altri membri della comunità. BaCo promuove la reciprocità e la collaborazione, incoraggiando gli scambi di competenze tra gli utenti. È un luogo in cui le persone possono imparare dagli altri e contribuire alla crescita di una comunità basata sulla condivisione delle conoscenze. Unisciti a BaCo e scopri un modo innovativo di arricchire la tua vita attraverso la condivisione e lo scambio di competenze!
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading2c">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2c" aria-expanded="false" aria-controls="collapse2c">
          2. Posso condividere i miei progetti su BaCo?
        </button>
      </h2>
      <div id="collapse2c" class="accordion-collapse collapse" role="region" aria-labelledby="heading2c">
        <div class="accordion-body">
          Certamente! BaCo ti consente di condividere i tuoi progetti con una community di appassionati. Puoi inserire le conoscenze nel profilo, caricare delle immagini e aggiungere una descrizione personale che rappresenti quello che ti contraddistingue e, se vuoi, cosa cercheresti in cambio. Potrai cambiare la descrizione quando vorrai!.
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="heading3c">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3c" aria-expanded="false" aria-controls="collapse3c">
          3. Quale categorie sono incluse su BaCo?
        </button>
      </h2>
      <div id="collapse3c" class="accordion-collapse collapse" role="region" aria-labelledby="heading3c">
        <div class="accordion-body">
          BaCo copre una vasta gamma di argomenti di fai da te, istruzione, tecnologia per permetterti di barattare i tuoi saperi e la tua passione con altri membri della BaCo Community.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading2c">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2c" aria-expanded="false" aria-controls="collapse2c">
          4. Come proporre una nuova competenza su BaCo?
        </button>
      </h2>
      <div id="collapse2c" class="accordion-collapse collapse" role="region" aria-labelledby="heading2c">
        <div class="accordion-body">
          Siamo sempre aperti a nuove proposte di competenze su BaCo! Per suggerire una nuova competenza, puoi inviare un'email a info@baco.community con l'oggetto "Proposta Competenza". Appena riceviamo un numero sufficiente di suggerimenti adeguati, procederemo ad aggiungere le nuove competenze alla piattaforma. Poiché BaCo è una comunità collaborativa, ogni proposta è un passo avanti per arricchire la nostra community di conoscenze e competenze. Quindi, non esitare a condividere le tue idee e a contribuire alla crescita della nostra piattaforma! Siamo entusiasti di vedere quali nuove competenze porterete alla nostra community.

        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading4c">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4c" aria-expanded="false" aria-controls="collapse4c">
          4. Come posso iniziare su BaCo?
        </button>
      </h2>
      <div id="collapse4c" class="accordion-collapse collapse" role="region" aria-labelledby="heading4c">
        <div class="accordion-body">
          Per iniziare su BaCo, visita il nostro sito web e crea un account gratuito.
          Una volta registrato, potrai esplorare le discussioni, condividere i tuoi progetti e partecipare agli scambi
           Ricorda di rispettare le regole della community e di condividere con sincerità e passione.

           Per iniziare su BaCo e sfruttare al massimo la piattaforma, segui questi semplici passaggi:<br><br>

    Registrazione: La prima cosa da fare è registrarti su BaCo. Clicca su "Registrati" e segui le istruzioni per creare il tuo profilo utente.<br><br>

    Completa il tuo profilo: Una volta registrato, completa il tuo profilo con tutte le informazioni necessarie. Aggiungi una foto del profilo, una breve descrizione su di te, le tue competenze e la tua città.<br><br>

    Esplora conoscenze: Dopo aver creato il tuo profilo, puoi iniziare a esplorare le conoscenze presenti su BaCo. Scorri tra le competenze degli utenti e cerca argomenti di tuo interesse.<br><br>

    Cerca utenti: Utilizza la funzione di ricerca per trovare utenti con competenze specifiche o nella tua stessa città. Questo ti aiuterà a connetterti con persone che condividono i tuoi interessi.<br><br>

    Proporre scambi: Se hai una competenza da condividere o desideri apprendere da qualcun altro, puoi iniziare a proporre scambi. Vai alla pagina delle competenze, seleziona una competenza di tuo interesse e fai clic su "Proponi uno scambio". Segui le istruzioni per inviare la tua proposta.<br><br>

    Accedi ai tuoi scambi: Una volta che hai proposto o ricevuto scambi, potrai accedervi dalla tua area personale. Qui potrai gestire tutte le tue interazioni e confermare gli scambi completati.<br><br>

    Rispetto e cortesia: Ricorda sempre di trattare gli altri utenti con rispetto e cortesia. La comunicazione e il rispetto reciproco sono fondamentali per una community sana e positiva.<br><br>


Seguendo questi passaggi, sarai in grado di iniziare la tua esperienza su BaCo in modo efficace e gratificante. Buon apprendimento e buoni scambi!
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading4c">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4c" aria-expanded="false" aria-controls="collapse4c">
          6. Quali sono i vantaggi di dichairare concluso uno scambio se ho già ricevuto/offerto la competenza accettando lo scambio?
        </button>
      </h2>
      <div id="collapse4c" class="accordion-collapse collapse" role="region" aria-labelledby="heading4c">
        <div class="accordion-body">
        Dichiare concluso uno scambio è un feedback positivo e contribuisce a costruire una comunità affidabile su BaCo.
        Aumenta, inoltre, la tua credibilità e aiuta altri membri a valutare la tua attendibilità.
         </div>
      </div>
    </div>





  </div>
</div>
</div>
</div>
{% endblock %}
