{# templates/admin/index.html.twig #}

{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    <div class="content">
        <h1>Dashboard di amministrazione di BaCo</h1>
        <p>Utlizzare le voci del menu a sinistra per gestire i contenuti della piattaforma </p>

    </div>
{% endblock %}
