{% extends 'base.html.twig' %}

{% block title %}New Citta{% endblock %}

{% block body %}
    <h1>Create new Citta</h1>

    {{ include('citta/_form.html.twig') }}

    <a href="{{ path('app_citta_index') }}">back to list</a>
{% endblock %}
