{# templates/footer.html.twig #}

<footer class="it-footer">
  <div class="it-footer-small-prints clearfix">
    <div class="container">
      <h3 class="visually-hidden">Sezione Link Utili</h3>
      <ul class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row">
        <li class="list-inline-item"><img src=" /img/bozza-logo_white.png" class="logo " style="max-width: 60px;" alt="logo BaCo"></li>
        <li class="list-inline-item"><a href="#" title="Note Legali">Note legali</a></li>
        <li class="list-inline-item"><a href="#" title="Privacy-Cookies">Privacy policy</a></li>
        <li class="list-inline-item"><a href="#" title="Privacy-Cookies">Il Manifesto</a></li>
        <li class="list-inline-item"><a href="#" title="Privacy-Cookies">FAQ</a></li>
        <li class="list-inline-item"><a href="mailto:#" title="Privacy-Cookies">Scrivi a Baco</a></li>
      </ul>
    </div>
  </div>

</footer>
