{% extends 'base.html.twig' %}

{% block title %}FAQ - Comuni Italiani{% endblock %}

{% block body %}





<section class="section bg-dark">
  <div class="section-content">
    <div class="container">

      <div class="row">
        <div class="col-8 mx-auto">
          <h1 class="title-xxlarge secondary-color">
        Il Manifesto della BaCo Community</h1>
        <p class="lead text-white">                  Noi, membri della comunità di BaCo, crediamo in un mondo in cui il potenziale umano sia valorizzato attraverso lo scambio di conoscenze e la collaborazione reciproca. Condividiamo una visione basata su principi fondamentali che guidano il nostro impegno a creare un ambiente di apprendimento e crescita.
        </p>

        <div class="h5 pt-3 secondary-color">
           Ti diamo il benvenuto in BaCo, dove il tuo contributo è un dono che arricchisce l'intera comunità!
        </div>
          </div>


      </div>
      </div>
      </div>
  </section>


  <section class="section">
    <div class="section-content">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-10 offset-lg-1">



                <h5>Solidarietà e Connessione</h5>
                <p>  Riteniamo che la solidarietà sia il cuore pulsante della nostra comunità. Ci impegniamo a sostenere e aiutare gli altri membri, creando un legame più stretto tra di noi. Condividiamo le nostre conoscenze per ispirare una crescita collettiva che supera i confini individuali.</p>

                    <h5>Oltre la proiessenza</h5>
                <p>  Riconosciamo che l'identità di ciascun individuo è basata anche sulle sue conoscenze e contributi, non solo sull'aspetto fisico. Valorizziamo la diversità di tali competenze e crediamo che ogni membro possieda un tesoro unico da condividere con la comunità.</p>

                  <h5>  Scambio Volontario</h5>
                <p>  Sosteniamo l'idea che la conoscenza dovrebbe essere condivisa liberamente e senza aspettative di ricompensa materiale. Offriamo la possibilità di donare le proprie competenze e conoscenze, rendendo il processo di apprendimento una forma di dono volontario che promuove il benessere collettivo.</p>

                  <h5>  Banca del Tempo e Reciprocità</h5>
                <p>  Ci ispiriamo al concetto di "banca del tempo", dove il valore non è misurato in denaro, ma nel tempo e nell'impegno dedicato agli altri. Promuoviamo la reciprocità e l'aiuto reciproco, creando un circolo virtuoso in cui ogni atto di condivisione produce effetti positivi a catena.</p>

                  <h5>  Condivisione</h5>
                <p>  Abbracciamo l'idea di un'economia basata sulla condivisione, in cui le risorse sono utilizzate in modo più efficiente e sostenibile. In BaCo, la conoscenza è la risorsa più preziosa e attraverso il suo scambio, creiamo un'eco-comunità che prospera grazie alla collaborazione.</p>

                <h5>    Responsabilità Individuale</h5>
              <p>    Crediamo fermamente nella responsabilità individuale per plasmare il nostro spazio di scambio. Ogni membro è artefice delle proprie azioni e dei propri contributi. Riconosciamo il potere che ogni singola persona ha nel creare un impatto positivo nella comunità attraverso il rispetto, la gentilezza e l'etica. Ogni membro è chiamato a promuovere un ambiente che rifletta la sicurezza, l'inclusione e la fiducia reciproca.
                  La nostra visione si basa su principi fondamentali che uniscono e ispirano tutti coloro che abbracciano la filosofia di BaCo. Siamo uniti da un obiettivo comune: costruire una comunità in cui la conoscenza e la collaborazione conducano a un arricchimento reciproco.
                  Unisciti a noi in questo viaggio di apprendimento, crescita e connessione attraverso la condivisione delle tue competenze. Insieme possiamo creare un mondo in cui le barriere tra le persone sono abbattute dalla condivisione delle conoscenze e dalla solidarietà. </p>

                  <p><i>La Comunità di BaCo</i></p>





























                </div>
        </div>


</div>
</div>
</div>
{% endblock %}
