{% extends 'base.html.twig' %}

{% block title %}New Scambi{% endblock %}

{% block body %}
    <h1>Confermi di mandare una richiesta di scambio a {{ userTarget }} ?</td></h1>

    <p>Il sistema invierà una mail all'utente selezionato, potrai sempre controllare l'elenco delle
    proposte di scambio dalla tua pagina personale</p>
    {{ include('scambi/_form.html.twig') }}

    <a href="{{ path('app_scambi_index') }}">back to list</a>
{% endblock %}
