

<section class="section" aria-describedby="principi" id="principi">
  <div class="section-content">
      <div class="container">
          <div class="row">
              <div class="col-12 col-lg-8 mx-auto offset-lg-1">
                <h1 class="title-xxlarge mb-3">Cancella il tuo profilo</h1>


<form method="post"  action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Confermi di voler cancellare per sempre il tuo utente?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
</div>
</div>
</div>
</div>
</section>
