{% extends 'base.html.twig' %}

{% block title %}Modifica profilo{% endblock %}

{% block body %}

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_index') }}">Torna alla community</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
